<div class="container">
  <div class="row">
    <div class="col col-11 offset-0.5">
      <div class="card">
        <div class="card-header">
          Welcome to EduPort e-learning platform
        </div>
        <div class="card-body">
          <div class="card-body">
            <div class="container">
              <div class="row">
                <div class="col col-6">
                  <div class="card">
                    <img class="card-img-top" src="" alt="" />
                    <div class="card-body">
                      <h4 class="card-title">Login</h4>
                      <div class="card-text">
                        <form>
                          <div class="form-group">
                            <label for="exampleInputEmail1"
                              >Email address</label
                            >
                            <input
                              type="email"
                              class="form-control"
                              id="exampleInputEmail1"
                              aria-describedby="emailHelp"
                              placeholder="Enter email"
                            />
                            <small id="emailHelp" class="form-text text-muted"
                              >We'll never share your email with anyone
                              else.</small
                            >
                          </div>
                          <div class="form-group">
                            <label for="exampleInputPassword1">Password</label>
                            <input
                              type="password"
                              class="form-control"
                              id="exampleInputPassword1"
                              placeholder="Password"
                            />
                          </div>
                          <button
                            [routerLink]="['/loggedIn']"
                            (click)="login()"
                            type="submit"
                            class="btn btn-primary"
                          >
                            Submit
                          </button>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col col-6">
                  <div class="card">
                    <div class="card-body">
                      <h4 class="card-title">Register</h4>
                      <div class="card-body">
                        <p>Register for full access</p>
                        <a class="btn btn-primary" href="#" role="button"
                          >Register</a
                        >
                        <p>Register as guest</p>
                        <a class="btn btn-secondary" href="#" role="button"
                          >Guest register</a
                        >
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card-footer text-muted">
          Footer
        </div>
      </div>
    </div>
  </div>
</div>
