<!--<form (ngSubmit)="login()">-->
<!--  <div class="form-group">-->
<!--    <label for="exampleInputEmail1">Username</label>-->
<!--    <input type="email" class="form-control" id="exampleInputEmail1"-->
<!--           placeholder="Enter username" name="username"-->
<!--           [(ngModel)]="user.username">-->
<!--  </div>-->
<!--  <div class="form-group">-->
<!--    <label for="exampleInputPassword1">Password</label>-->
<!--    <input type="password" class="form-control" id="exampleInputPassword1"-->
<!--           placeholder="Password" name="password"-->
<!--           [(ngModel)]="user.password">-->
<!--  </div>-->
<!--  <button type="submit" class="btn btn-primary">Submit</button>-->
<!--</form>-->


<div class="container">
  <div class="row">
    <div class="col col-11 offset-0.5">
      <div class="card">
        <div class="card-header">
          Welcome to EduPort e-learning platform
        </div>
        <div class="card-body">
          <div class="card-body">
            <div class="container">
              <div class="row">
                <div class="col col-6">
                  <div class="card">
                    <img class="card-img-top" src="" alt=""/>
                    <div class="card-body">
                      <h4 class="card-title">Login</h4>
                      <div class="card-text">

                        <form (ngSubmit)="login()">
                          <div class="form-group">
                            <label for="exampleInputEmail1">Username</label>
                            <input type="email" class="form-control" id="exampleInputEmail1"
                                   placeholder="Enter username" name="username"
                                   [(ngModel)]="user.username">
                          </div>
                          <div class="form-group">
                            <label for="exampleInputPassword1">Password</label>
                            <input type="password" class="form-control" id="exampleInputPassword1"
                                   placeholder="Password" name="password"
                                   [(ngModel)]="user.password">
                          </div>
                          <button type="submit" class="btn btn-primary">Submit</button>
                        </form>

                      </div>
                    </div>
                  </div>
                </div>
                <div class="col col-6">
                  <div class="card">
                    <div class="card-body">
                      <h4 class="card-title">Register</h4>
                      <div class="card-body">
                        <div class="card-text"></div>
                        <p>Register for full access</p>
                        <a class="btn btn-primary" href="#" role="button"
                        >Register</a
                        >
                        <p>Register as guest</p>
                        <a class="btn btn-secondary" href="#" role="button"
                        >Guest register</a
                        >
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card-footer text-muted">
          Pavol Dudak, 2019
        </div>
      </div>
    </div>
  </div>
</div>
